<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>thyelemate html--index</h1>
	<a href="http://localhost:8181/mall/index">hello</a>

	<form action="/mall/login">
		<input type="text" id="username" name="username"> 
		<input type="password" id="password" name="password">
		<input type="submit" value="登录">
	</form>
	
	<form action="/mall/register">
		<input type="text" id="username" name="username" placeholder="用户名"> 
		<input type="password" id="password" name="password",placeholder="密码">
		<input type="text" id="gender" name="gender",placeholder="性别"> 
		<input type="text" id="phone" name="phone",placeholder="手机号">
		<input type="text" id="email" name="email",placeholder="邮箱"> 
		<input type="text" id="departmentId" name="departmentId",placeholder="部门id">
		<input type="submit" value="注册">
	</form>


</body>
</html>